body{
	font-size: 22px;
	color: white;
	background-color: #191b1d;
}

hr{
	border-width: 7px;
	background-color: white;
}

/*responsive resizing*/
@media (min-width: 992px) {
	.experience-logo{
		margin-top: 150px;
	}

	#my_pic{
		margin-bottom: 200px;
	}
}

/*containers*/
.center-container{
	margin-left: auto;
	margin-right: auto;
}

.center-container-experience{
	margin-top: 50px;
}

.center-container-hobbies{
	text-align: center;
}

#container_intro{
  background: url(../images/teemo.gif) no-repeat center fixed;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
}

.container-experience {
	padding: 70px 70px;
}

#container_experience_1{
	background-color: #1e262a;
	min-height: 600px;
}

#container_experience_2{
	background-color: #191b1d;
	min-height: 600px;
}

#container_hobbies{
	background: url("http://i.imgur.com/Q9L8sGd.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 950px;
  padding-top: 250px;
  padding-bottom: 250px;
}

#container_contact{
	background: url(../images/ori.jpg) no-repeat center fixed;
  background-size: cover;
  min-height: 950px;
	min-height: 700px;
}

/*intro stuff*/
#intro_logo{
	height: 70%;
}

/*experience stuff*/
.experience-item{
	display: inline-block;
}

.experience-logo{
	display: inline-block;
	text-align: center;
	margin-top: 60px;
}

#experience_1_logo{
	padding-top: 20px;
	width: 100%;
	max-width: 380px;
}

#experience_2_logo{
	width: 100%;
	max-width: 380px;
}

#experience_1_item_container{
	float: left;
	padding-left: 37px;
}

#experience_2_logo_container {
	float: left;
}

/*project stuff*/
#project1{
	background-color: #a6192e;
	min-height: 600px;
}

#project2{
	background-color: #1d4d63;
	min-height: 600px;
}

#project3{
	background-color: #275611;
	min-height: 600px;
}

.project-item{
	padding-top: 70px;
	font-size: 21px;
	display:inline-block;
}

.project-img{
	padding-top: 70px;
	padding-right: 40px;
	position: relative;
	float: left;
	display:inline-block;
}

#project1_logo{
	max-width: 500px;
	width: 100%;
}

#project2_logo{
	max-width: 500px;
	width: 100%;
}

#project3_logo{
	max-width: 500px;
	width: 100%;
	padding-bottom: 30px;
}

/*hobbies stuff*/
.solid-strip{
	background-color: #0f151a;
	width: 100%;
	position: relative;
	min-height: 530px;
}

#hobby{
	width: 400px;
	height: 450px;
}

/*portfolio*/
.portfolio-box {
  position: relative;
  display: block;
  max-width: 500px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  opacity: 0;
  display: block;
  /* background:  rgba(123, 38, 169, 0.6);*/
  background:  rgba(51, 122, 183, 0.6);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 400px;
  height: 450px;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 380px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 25px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
.inline-display{
	display: inline-block;
	margin-top: 38px;
	margin-left: 12px;
}

/*Contacts stuff*/
.middle-blob{
	width: 85%;
	min-height: 550px;
	background-color: #191b1d;
	margin: 0 auto;
}

#contact_info{
	display: inline-block;
	margin-top: 100px;
	padding-left: 60px;
	padding-right: 60px;
}

#my_pic_container{
	display: inline-block;
	text-align: center;
	margin-top: 30px;
}

#my_pic{
	width: 100%;
	max-width: 350px;
	margin-bottom: 50px;
}

#nav_ul{
	list-style-type: none;
	color: green;
}