body{
	font-size: 22px;
	color: white;
	background-color: #191b1d;
}

hr{
	border-width: 7px;
	background-color: white;
}

/*containers*/
.center-container{
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

#container_intro{
	height: 720px;
	background-image: url(../images/teemo.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}

#container_experience_1{
	height: 600px;
	width: 100%;
	background-color: #1e262a;
}

#container_experience_2{
	height: 600px;
	width: 100%;
	background-color: #191b1d;
}

#container_hobbies{
	background: url("http://i.imgur.com/Q9L8sGd.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
	height: 950px;
}

#container_contact{
	background: url(../images/ori.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
	height: 700px;
}

/*intro stuff*/
#intro_logo{
	margin-top: 60px;
	width: 900px;
	height: 450px;
}

/*experience stuff*/
.experience-item{
	width: 600px;
	padding-top: 100px;
	margin-left: 80px;
	display:inline-block;
}

.experience-logo{
	position: relative;
	display:inline-block;
	margin-left: 100px;
	bottom: 160px;
}

#experience_1_logo{
	width: 380px;
	height: 190px;
}

#experience_2_logo{
	width: 380px;
	height: 210px;
}

/*project stuff*/
#project1{
	width: 100%;
	height: 615px;
	background-color: #a6192e;
}

#project2{
	width: 100%;
	height: 615px;
	background-color: #1d4d63;
}

#project3{
	width: 100%;
	height: 615px;
	background-color: #275611;
}

.project-item{
	font-size: 21px;
	width: 400px;
	margin-left: 80px;
	margin-top: 100px;
	display:inline-block;
}

.project-img{
	position: relative;
	display:inline-block;
}

#project1_logo{
	margin-left: 100px;
	margin-bottom: 100px;
	width: 500px;
	height: 340px;
}

#project2_logo{
	margin-left: 150px;
	margin-bottom: 280px;
	width: 500px;
	height: 340px;
}

#project3_logo{
	margin-left: 150px;
	margin-bottom: 85px;
	width: 500px;
	height: 340px;
}

/*hobbies stuff*/
.solid-strip{
	background-color: #0f151a;
	width: 100%;
	height: 530px;
	position: relative;
	top: 180px;
}

#hobby{
	width: 400px;
	height: 450px;
}

/*portfolio*/
.portfolio-box {
  position: relative;
  display: block;
  max-width: 500px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  opacity: 0;
  display: block;
  /* background:  rgba(123, 38, 169, 0.6);*/
  background:  rgba(51, 122, 183, 0.6);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 400px;
  height: 450px;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 380px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 25px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
.inline-display{
	display: inline-block;
	margin-top: 38px;
	margin-left: 12px;
}

/*Contacts stuff*/
.middle-blob{
	width: 85%;
	height: 550px;
	background-color: #191b1d;
	margin: 0 auto;
}

#contact_info{
	display: inline-block;
	width: 500px;
	margin-left: 8%;
	margin-top: 100px;
}

#my_pic{
	display: inline-block;
	width: 350px;
	height: 350px;
	margin-left: 5%;
	margin-bottom: 200px;
}
